.whiteNavbar{
    width:100%;
/* box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.15); */
}
.Nav_link:hover {
        width: auto;
        padding:  12px;
        transform: skew(-20deg);
        background-color: red;
        color:white;
}
.navbar-expand{
    flex-wrap: nowrap !important;
  }
.imageDiv{
    padding-top: 0 !important;
    margin: 0 !important;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }
.mainDiv{
    width: 10%;
}
.mainDivSec{
    width: 30%;
}
.nav-link{
    text-decoration: none;
    color: white !important;
    
}
